{:oid "606a7e90ba059e2c446f4cb7", :title "Isaac_Details", :desc "", :source "61e72a7da593b50e18caa708", :type "dashboard", :style {:name "vivid", :palette {:_id "6074848c67c3d902388015dd", :colors ["#bf1e30" "#d87120" "#f1c40f" "#5aad34" "#006400" "#59abff" "#243f52" "#474747"], :isDefault true, :name "CES_Dashboard_Palette", :sortOrder 0}}}